.black-background {
  background-color: black;
}

div {
  border-radius: 5%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  width: 450px;
  height: 375px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form, mat-form-field {
  margin-top: 25px
}

mat-form-field {
  width: 350px;
}

input::placeholder {
  font: 12px sans-serif;
}


div form .save-button {
  margin-top: 10px;
}
