<p>
  <mat-toolbar class="toolbar" color="primary">
    <span class="crud-span" routerLink="/home">CRUD Application</span>
    <span class="example-spacer"></span>
    <button mat-raised-button class="example-icon favorite-icon" routerLink="/home" routerLinkActive="home"> Home </button>
    <button mat-raised-button class="example-icon" routerLink="/home/add" routerLinkActive="add">Add</button>
    <button mat-raised-button class="example-icon" routerLink="/login" routerLinkActive="login"> Logout </button>
  </mat-toolbar>
</p>


