.example-spacer {
  flex: 1 1 auto;
}

.crud-span {
  cursor: pointer;
}

button {
  margin-right: 55px;

}

.table-button {
  margin-right: 55px;
  height: 25px!important;
}
.table {
  margin-top: 20px;
  width: 75%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

table tr th {

}
